rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Scholarship collection: Restrict read and write to authenticated users
    match /scholarship/{docId} {
      allow read, write: if request.auth != null;
    }

    // Other known collections: Public read, write, update, delete
    match /eligibility/{docId} {
      allow read, write, update: if true;
    }

   match /newsLetters/{docId} {
      allow read, write, update: if true;
    }
    
    match /applicants/{docId} {
      allow read, write, update: if true;
    }

    match /contact/{docId} {
      allow read, write, update, delete: if true;
    }

    // Catch-all for any other collections/documents: Public access
    match /{collection}/{document=**} {
      allow read, write, update, delete: if true;
    }
  }
}